* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../images/concrete_seamless.png);
    font-size: 18px;
    line-height: 1.5em;
  }
  
  nav {
    background: #5743a0;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 100px;
    height: 96px;
  }
  
  section {
    background-color: white;
    border: 4px solid #cccccc;
  }
  
  #profileHeader {
  line-height: 30px;
  }
  
  .about {
    margin: 10px;
    padding: 10px;
  }
  
  h3 {
  background: white;
  color: #43a047;
  max-width: 300px;
  text-align: center;
  }
  
  .card-content {
    text-align: center;
  }

  .card-image1{
    height: 400px;
    max-width: 100%; 
    margin: 7px;
  } 
   


  hr {
    width: 95%
  }
  
  .carla {
    width: 300px;
    font-size: 30px;
    color: white;
    line-height: 96px;
    font-weight: bold;
  }
  
  .card {
    margin: 7px;
  }

  #portfolioImage {
    width: 200px;
    float: left;
    margin-left: 23px;
    margin-right:10px;
  }
  
  @media screen and (max-width: 600px) {
    nav {
      height: 106px;
    }
    ul {
      line-height: 53px;
  
    }
    #carla {
      line-height: 53px;
      text-align: center;
    }
  }